

/*==========================================================
          THIS SECTION FOR THE RANGE Slider
===========================================================*/

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    border-radius: 50%;
    background: #e57814 ; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 40px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    background: #e57814; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/*==========================================================
          PERSONAL STYLES
===========================================================*/
/* font-family: 'Nanum Pen Script', cursive;
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Julee', cursive;
font-family: 'Caveat', cursive; */
body{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.2rem;
}
.gen-title, .btn{
  font-family: 'Julee',cursive !important;
}
.gen-sub{
  font-size: 1.2rem;
}
.btn{
  font-size: 1.7rem !important;
}
.slideTxt{
  font-size: 1.7rem;
}
#valueSlider{
  font-size: 2.2rem;
}
#crazyContainer>p{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5rem;
}
.crazyQuote, .wiseQuote{
  padding-top: 1rem !important;
}
#wiseContainer>p{
  font-family: 'Caveat', cursive;
  font-size: 1.3rem;
}
#wiseOnTimer>p{
  font-family: 'Caveat', cursive;
  font-size: 2rem;
}

.myImg{
  border-radius: 20px;
  box-shadow: 0 7px 20px #777;
}
