

/*==========================================================
          THIS SECTION FOR THE RANGE Slider
===========================================================*/

.slidecontainer {
    width: 100%; /* Width of the outside
     container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    -moz-appearance: none;
    border-radius: 10px;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: #f00; /* Grey background */

    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
/* this to change the bar color */
.slider::-moz-range-track{
  background-color: #ee6804;
  height: 7px;
}
.slider::-webkit-slider-runnable-track{
  background-color: #ee6804;
  border-radius: 10px;
  height: 7px;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 60px;
    position: relative;
    top: -30px;
    border: 0;
    background-image: url('../img/scrollOwlIco.png');
    cursor: pointer;
}


.slider::-moz-range-thumb {
    width: 60px; /* Set a specific slider handle width */
    height: 60px; /* Slider handle height */
    position: relative;
    top: -30px;
    border:none;
    background: transparent;
    background-image: url('../img/scrollOwlIco.png'); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/*==========================================================
          PERSONAL STYLES
===========================================================*/
/* font-family: 'Nanum Pen Script', cursive;
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Julee', cursive;
font-family: 'Caveat', cursive; */

body{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.2rem;
}
/* This rule set the background and text for the Wise owl */
.wiseOwl-style{
  background: #282e2c;
  color:#d8832d !important;
}

#home {
  text-decoration: none;
  color:inherit;
}
#home h1{
  transition: transform .3s ease-in-out;
}
#home h1:hover{
  /* text-shadow: 0px 2px 3px #000; */
  transform: scale(1.2);
}

.gen-title, .btn{
  font-family: 'Julee',cursive !important;
}
.gen-sub{
  font-size: 1.4rem;
}

.crazyQuote, .wiseQuote{
  padding-top: 1rem !important;
  font-size: 1.6rem;
}

.btn{
  font-size: 1.7rem !important;
}
.btn.btn-ava{
  background-color: #943103 ;
  color: #fff;
}
.btn.btn-ava:hover{
  background-color: #581c00 ;
}
.active{
  background-color: #581c00 !important;
}

.btn:focus{
  box-shadow: none !important;
}
.slideTxt{
  font-size: 1.7rem;
}
#valueSlider{
  font-size: 2.2rem;
}


/* Crazy quotes */
#crazyContainer>p{
  font-family: 'Nanum Pen Script', cursive;
}

/* Wise quotes */
#wiseContainer>p{
  font-family: 'Caveat', cursive;
}
span.author{
  color:#943103;
}

/* Quotes at interval time */
#wiseOnTimer{
  background: rgba(0,0,0,.7);
  padding: 1.5rem;
  border: 1px solid #d8832d;
  border-radius: 15px;
  box-shadow: 0 0px 10px #000;
}
#wiseOnTimer>p{
  font-family: 'Caveat', cursive;
  font-size: 2rem;
}

#social a{
  color: #410d0f;
}

/* Image link rules */
.myImg{
  border-radius: 50%;
  position: relative;
  top:0;
  left: 0;
  z-index: 10;
  border: 2px solid #d8832d;
  transition: border .4s ease-in-out, transform .7s ease-in-out;
}
.myImg:hover{
  border-radius: 50%;
  border: 3px solid #d8832d;
  }
.myImg:active{
  border: 15px solid #d8832d;
  box-shadow: none;
  transform: rotate(1080deg);
  transition: border .2s ease-in-out, transform 0s;

}
